.gallery-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0;
}


@media (max-width: 900px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 260px);
  }
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 260px);
  }
}
